body {
    margin: 0;
    background: url(https://i.ibb.co/wQvbcGk/pexels-photo-2114014.jpg);
    height: 100%;
    color: #f5f5f5;
}

.container {
    margin-top: 100px !important;
}
#text-3D{
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

#form{
    display: flex;
    justify-content: center;
}

input{
    color: #eee;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    outline: 0;
    font-size: 16px;
    padding: 7px;
    transition: border .25s linear;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    margin-right: 10px;
    margin: auto;

}

input::placeholder{
    color: #eee;
}

button {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    margin: auto;
    padding: 7px;
}

button:hover{
    background-color: rgba(0,0,0,0.4);

}


@media(max-width:767px)
{
    .container{
        height: fit-content;
    }
}
.weather
{
    width: 100%; 
}
@media(max-width:767px){
    .weather
    {
        width: 100%;
    }   
}
.card{
    padding: 1rem;
    margin: 1.5rem 4vw;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.4) !important;
    border-color: rgba(238, 237, 237, 0.22);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-align: center;
}
@media(max-width:768px){
    .card{
        margin: 1.5rem;
    }
}
.title{
    justify-content: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
}
.title p{
    color: #dddddd;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}
.temp{
    font-size: 2.6rem;
    margin-bottom: 1rem;
    color: #dddddd;
}
.header{
    color: #dddddd;
}
.col-4{
    padding: 0 0.2rem;
}
.icon{
    align-self: flex-end;
    margin-right: -2.5rem;
    margin-top: -2rem;
    z-index: 999;
}
.icon img{
    width: 5rem;
}

.value{
    color: #dddddd;
}

#img{
    position: absolute;
    left: -600px;
    width: 600px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes img {
    100% { left: 0; }
}

@keyframes img {
    100% { left: 0; }
}
